---
import React from "../../public/icons/React.astro"
import Vite from "../../public/icons/Vite.astro"
import CSS from "../../public/icons/CSS.astro"
import LinkButton from "./LinkButton.astro"
import GitHub from "../../public/icons/GitHub.astro"
import LinkProject from "../../public/icons/LinkProject.astro"


const TAGS = {
    CSS: {
        name: 'CSS',
        class: 'bg-[#047c97] text-white',
        icon: CSS,
    },
    REACT: {
        name: 'React',
        class: 'bg-[#003159] text-white',
        icon: React,
    },
    VITE: {
        name: 'Vite',
        class: 'bg-[#3a3f99] text-white',
        icon: Vite,
    },
}

const PROJECTS = [
    {
        image: '/visualShowWeb.webp',
        tittle: 'VisualShow360 - Sitio web hecho a medida para empresa especializada en filmación 360º',
        description: 'Sitio web SPA desarrollado con el objetivo de dar visibilidad y fiabilidad a la marca.',
        // Obteniendo un incremento del 10% en las ventas.
        description2: 'Creado desde cero con React, CSS y Vite. Desarrollando custom hooks y componentes reutilizables, optimización de carga e implementación de SEO. Además, se han integrado animaciones y formularios. Diseñada usando la metodologia "Mobile First", haciendola responsive y accesible para el usuario.',
        link: 'https://visualshow360.com',
        github: 'https://github.com/JordiPalacios/Personal-Porfolio',
        tags: [TAGS.CSS,TAGS.REACT, TAGS.VITE],
    }
]
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({image, tittle, description, description2, link, github, tags}) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <img 
                            src={image} 
                            alt="Sitio web personalizado para Visual Show, startup especialidada en filmación 360º en bodas."
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            loading="lazy"
                        />
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-gray-100">
                        {tittle}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                            {tags.map((tags) => (
                                <li>
                                    <span class={`flex gap-x-2 rounded-full text-xs ${tags.class} py-1 px-2 `}>
                                        <tags.icon class="size-4" />
                                        {tags.name}
                                    </span>
                                </li>
                            ))}
                        </ul>

                        <div class="mt-2 text-gray-400 text-pretty">{description}</div>
                        <div class="mt-2 text-gray-400 text-pretty">{description2}</div>

                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {
                                github && (
                                    <LinkButton href={github} className="mt-4">
                                        <GitHub class="size-4" />
                                        Code
                                    </LinkButton>
                                )
                            }
                            {
                                link && (
                                    <LinkButton href={link} className="mt-4 cursor-pointer">
                                        <LinkProject class="size-4" />
                                        Preview
                                    </LinkButton>
                                )
                            }
                        </footer>
                    </div>
                </div>
            </article>
        ))   
    }
</div>